*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background: rgb(15, 15, 15);
    
    
}
body{
    font-family: montserrat;
}
nav{
    height: 80px;
    width: 100%;
}
label.logo{
    color: tomato;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    background: transparent;
    padding-top: 10px;
    border: 3px solid rgb(27, 27, 27);
    border-radius: 40px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
background: tomato;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    background: rgb(15, 15, 15);
}
section{
    padding: 0 19%;
}
p{
    font-size: 40px;
    font-weight: 300;
    color: white;
    margin-bottom: 40px;
}
p.new{
    color: gray;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
span{
  font-family: "Playwrite CZ", cursive;
}
.hero-img img{
    width: 400px;
    height: auto;
}
.hero-img {
    position: relative;
}
.hero-text a{
    display: inline;
    color: white;
    background: tomato;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 10px;
}
.habit-section{
    width: 100%;
}
.habit-section .container{
    width: 80%;
    margin: auto;
}
.habit-section .container .row{
    width: 60%;
    margin: auto;
}
.habit-section .container .row .title{
    text-align: center;
    margin-top: 50px;
} 
.habit-section .container .row .title h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white
} 
.habit-section .container .row .title p{
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: gray;
} 
.habit-section .container .habit-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}
.habit-section .container .habit-card .card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    cursor: pointer;
}
.habit-section .container .habit-card .card .img-section img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid gray;
}
.habit-section .container .habit-card .card .content{
    width: 100%;
    text-align: center;
}
.habit-section .container .habit-card .card .content h3{
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: white;
} 
.habit-section .container .habit-card .card .content p{
    font-size: 15px;
    margin: 16px 0px;
    line-height: 1.5;
    color: gray;
} 
.wrapper{
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contest{
    width: 50%;
    margin: 0px 25px;
}
.contest h2{
font-size: 30px;
color: white;
}
.contest p{
    color: gray;
    font-size: 19px;
    line-height: 1.5;
    margin: 10px;
}
.images{
    width: 50%;
}
.images img{
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: none;
    object-position: 66% 28%;
}
.contest .btn{
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid tomato;
    font-size: 19px;
    color: white;
    padding: 13px 16px;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: tomato;
    border-radius: 30px;
}
.header{
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table thead tr th{
 font-size: 14px;
 font-weight: 600;
 letter-spacing: 0.35px;
 color: white;
 opacity: 1;
 padding: 12px;
 vertical-align: top;
 border: 1px solid gray;
}
.table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: gray;
    padding: 8px;
    text-align: center;
    border: 1px solid gray;
}
form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
    background: rgb(37, 37, 37);
}
input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    background: rgb(37, 37, 37);
    border-radius: 10px;
    font-size: 15px;
}
form #arrow{
    position: absolute;
    color: gray;
    top: 20%;
    left: 90%;
    background: transparent;
}
.column{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.colums{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.column .input-group{
    flex-wrap: wrap;
}
form p{
    font-size: 18px;
    font-family: sans-serif;
    margin: 30px 0px;
    color: gray;
}
form .btn{
    position: relative;
    margin-top: 30px;
    text-decoration: none;
    border: 2px solid tomato;
    font-size: 19px;
    color: white;
    padding: 13px 16px;
    display: inline-block;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 30px;
    background-color: tomato;
}
.bmii{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px){
    nav #icon{
        display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav a{
    font-size: 20px;
}
.hero-img img{
width: 100%;
height: auto;
}
section{
    padding: 0 3%;
    transition: .2s;
}
.hero-text{
    padding-top: 115px;
}
.hero-img{
    text-align: center;
}
.hero{
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
}
.habit-section .container .habit-card{
    grid-template-columns: 1fr;
}
.wrapper{
    flex-direction: column;
    margin-top: 0px;
}
.contest, .images{
    width: 100%;
    margin-top: 20px;
}
.contest h2{
    font-size: 25px;
}
.contest .btn{
    font-size: 16px;
    padding: 12px 14px;
}
}